body {
  margin: 0;
  padding: 0;
  font-family: "helvetica";
  background-image: url(books.jpg);
  background-size: 100%;
}

.top {
  position: absolute;
  text-align: center;
  color: white;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, #ffffff00);
}

.top h1 {
  font-size: 46px;
  position: absolute;
  right: 11%;
  top: 30%;
  color: black;
}

.top_p {
  font-size: 23px;
  position: absolute;
  right: 15%;
  top: 70%;
  color: black;
}

.center {
  position: absolute;
  top: 58%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 35px #000000;
}

.center h1,
h2 {
  text-align: center;
  padding: 0 0 1px 0;
  font-family: "Arial";
}

.center h2 {
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translator(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #664229;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -10px;
  color: #664229;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid #664229;
  background: #664229;
  border-radius: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  background: #522d12;
  border-color: #522d12;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #664229;
}

.signup_link a {
  color: #664229;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.btm {
  position: absolute;
  top: 99%;
  left: 18.5%;
  color: black;
  text-shadow: 0 0 10px #000000;
  box-sizing: 300px 400px;
}

.btm input {
  width: 150px;
  text-align: center;
}
.para {
  font-size: 23px;
  position: absolute;
  left: 55%;
  top: 45%;
  color: black;
}
